/* CSS para a página Encontre Catálogos */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

/* font-family: "Nunito", sans-serif; */

:root {
    --fundo: #F5F5F5;
    --laranja_claro: #FFBD70;
    --laranja_escuro: #FF8A00;
    --branco: #FFF;
    --cinza: #EEF2FF;
    --azul_fundo: #E1EAFE;
    --azulClaro: #F0FDFA;
    --azulClaNav: #003CB7;
    --azulEscNav: #284277;
    --azulcards: #487AF9;
    --cinzacards: #84829A;
    --pretoazul: #11263C;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    position: relative;
}


body,html {
    font-family: "Nunito", sans-serif;
    background-color: #EAECF1; 
}

/* Barra de Navegção */

nav#menu {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#284277d7, #284277);
    opacity: 80%;
    padding: 20px;
    border-radius: 20px;
    gap: 2rem;
    z-index: 1;

}

/* Estilo da seta da barra de navegação */

div#arrow {

  position: absolute;
  top: 60px;
  right: -20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: linear-gradient(#284277d7, #284277)
  
}

/* Estilo da barra de navegação com o menu aumentado */

#menu.menuAumentado {
    width: 250px;
}

div#main.menuAumentado {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#menu.menuAumentado .texto {
    display: flex;
    color: #fff;
    font-weight: 200;
    text-align: center;
}


span.texto {
    display: none;
}

span.texto .logo_user {
    display: none;
}

div#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#main p {
    font-size: 10px;
    margin-bottom: 1.5rem;
    color: var(--branco);
    font-weight: 100;
    opacity: 80%;
}


div#main ul li {
    margin-bottom: 1.5rem;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    color: #fff;
    font-weight: 100;
}

div#main ul li .decor {
    display: flex;
    border: 1px solid var(--laranja_claro);
    padding: 8px;
    border-radius: 10px;
}

 span.bell {
    margin-top: 5rem;
    background-color: var(--laranja_escuro);
    padding: 10px;
    display: flex;
    border-radius: 10px;
}

/* Cabeçalho */

header#catalogo {
    display: flex;
    margin-top: 2rem;
    margin-left: 10rem;
    justify-content: space-between;
}

header#catalogo h1 {
    margin-bottom: 1rem;
    color: var(--pretoazul)
}

header#catalogo i {
    font-size: 2rem;
    font-weight: 100;
    color: var(--cinzacards);
}

header#catalogo span {
    display: flex;
    gap: 10px;
    align-items: center;
}

header#catalogo span i {
    font-size: 1.2rem;
    color: var(--pretoazul);
}

span p#color {
    color: var(--laranja_escuro);
}

/* Barra de Pesquisa Explorador de Catálogos */

section#explorador {
    display: flex;
    justify-content: center;
}

article#pesquisar {
    background-color: #fff;
    background: url(/imagens/busca_catalogo.png);
    background-size: cover;
    padding: 2rem 3rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 65vw;
}

article#pesquisar  p.title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--pretoazul);
}

article#pesquisar p.text {
    color: #fff;
    font-size: 15px;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

article#pesquisar i  {
    color: var(--cinzacards);
    font-weight: 100;
    opacity: 40%;
}

span#pesquisa {
    display: flex;
    align-items: center;
    gap: 1.15rem;
    background-color: #fff;
    padding: 0.7rem 10rem 10px 0.7rem;
    border-radius: 30px;
}

span#pesquisa input {
    border: none;
    height: 30px;
    outline: none;
}

/* Botoões: Marca: Apple - Dual SIM:Não * Modelo: Iphone 11 - Memória: 128 GB */

section#menu {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

div#botoes {
    display: flex;
    gap: 2rem;
}

span.botao {
    padding: 1rem 2.5rem;
    border: 1px solid var(--laranja_claro);
    border-radius: 50px;
    color: var(--pretoazul);
    opacity: 75%;
}

span#color {
    background-color: #284277;
    color: white;
}

div#menu p {
    font-weight: 300;
}

/* Cards com os Produtos iPhones */

section#collection {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

div.salvar {
    position: relative;
}

div.salvar span  {
    position: absolute;
    right: 3%;
    top: 10px;
}

article#cards_catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    flex: 0 1 150px;
    z-index: 1;
}

div.card {
    background-color: #ffffff57;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ffffff88;
    box-shadow: 10px 10px 10px 10px #ffffff57;
}

div.card img {
    border-radius: 10px;
}

div.card_medio button {
    margin-top: 1rem;
    background-color: var(--azulcards);
    border: none;
    padding: 1rem 5rem;
    border-radius: 30px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

span#botao {
    display: flex;
    justify-content: center;
}

p.title {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    color: var(--laranja_escuro);
    font-size: 1.1rem;
    font-weight: 700;
}

ul.preco {
    display: flex;
    justify-content: space-between;
}

ul.preco li {
    color: var(--pretoazul);
    font-size: 1.2rem;
    font-weight: 700;
}

ul.concorrentes {
    display: flex;
    justify-content: space-between;
}

ul.concorrentes li {
    font-size: 0.8rem;
}

ul.concorrentes li.porcentagem {
    color: #FF0000;
}
ul.concorrentes li.porcentagem_green {
    color: #87DE72;
}

div.card_medio {
    background-color: #ffe1bd3d;
    padding: 20px;
    border-radius: 20px;
}

/* Botão: Ver Mais */

div#botao {
    display: flex;
    justify-content: center;
}

div#botao button {
    margin-bottom: 3rem;
    padding: 1rem 3.5rem;
    border-radius: 30px;
    border: 1px solid #182847;
    color: #182847;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Estilização da Barra de Rolagem */
::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}

::-webkit-scrollbar-track {
    background: #f5f5f5; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: var(--laranja_escuro);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background: #487AF9;
}


span.decor {
    position: absolute;
    top: 55%;
    left: 0%;
    
}

