@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

/* font-family: "Nunito", sans-serif; */

:root {
    --fundo: #F5F5F5;
    --laranja_claro: #FFBD70;
    --laranja_escuro: #FF8A00;
    --branco: #FFF;
    --cinza: #EEF2FF;
    --azul_fundo: #E1EAFE;
    --azulClaro: #F0FDFA;
    --azulClaNav: #003CB7;
    --azulEscNav: #284277;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


body {
    font-family: "Nunito", sans-serif;
    background: linear-gradient(#f5f5f5, #E1EAFE);
}

nav#menuVendas {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#284277d7, #284277);
    opacity: 80%;
    padding: 20px;
    border-radius: 20px;
    gap: 2rem;

}

div#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#main p {
    font-size: 10px;
    margin-bottom: 1.5rem;
    color: var(--branco);
    font-weight: 100;
    opacity: 80%;
}


div#main ul li {
    margin-bottom: 1.5rem;
}

div#main ul li .decor {
    display: flex;
    border: 1px solid var(--laranja_claro);
    padding: 8px;
    border-radius: 10px;
}

 span.bell {
    margin-top: 5rem;
    background-color: var(--laranja_escuro);
    padding: 10px;
    display: flex;
    border-radius: 10px;
}

header {
    background: linear-gradient(#FFBD70, #FF8A00);
    padding: 3rem 15rem;
    height: 50vh;
}

div#tendencias {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
}

div#logo {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

div#logo h1 {
    font-weight: 800;
}

div#destaque {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--branco);
    padding: 10px 20px;
    border-radius: 20px;
}

div#destaque > p {
    font-weight: bold;
    font-size: 1.2rem;
}

div#destaque span {
    background-color: #EEF2FF;
    padding: 5px;
    border-radius: 10px;
    color: var(--laranja_escuro);
    font-weight: 700;
}

div#destaque span p {
    display: flex;
    gap: 5px;
}

div#destaque span img {
    width: 1.5rem;
}

section#buscas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.card {
    display: flex;
    align-items: center;
}

div.card img {
    max-width: 50rem;
}


section#categorias {
    margin-top: 20rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
}

article.cards {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2rem;
}

div.card_categorias {
    background-color: var(--branco);
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.096);

}

div.card_categorias img {
    margin-bottom: 1.5rem;
    border-radius: 10px;
}

div.card_categorias p {
    font-weight: 700;
}
